* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cccccc;
    height: 100vh;

    justify-content: center;
}

.toggle {
    margin-top: 10px;
}

#checkbox {
    opacity: 0;
    position: absolute;
}

.toggle img {
    height: 35px;
}

.icons {
    display: flex;
    align-items: center;

    background-color: black;
    cursor: pointer;
    justify-content: space-evenly;

    padding: 5px;
    position: relative;
    width: 100px;
    height: 42px;
    border-radius: 50px;
}

.ball {
    background-color: #cccccc;
    position: absolute;
    top: 1px;
    left: 1px;

    border-radius: 50%;
    width: 40px;
    height: 40px;

    transition: 0.3s linear;
}

#checkbox:checked + .icons .ball{
    transform: translate(50px);
}

.dark {
    background-color: #09090A;
}

body.dark header {
    background-color: #09090A;
}

body.dark button div {
    color:#8B5CF6;
}

body.dark form .hour {
    color:#cccccc;
}

body.dark form input:checked {
    background-color: #8B5CF6;
    border-color: #8B5CF6;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 58px 20vw 0px 16vw;

    position: fixed;
    width: 100%;
    background-color: #cccccc;
    
}

header button:hover {
    cursor: pointer;
}

button {
    margin-right: 40%;
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid #8B5CF6;
    background-color: transparent;
    color: white;

    display: flex;
    align-items: center; /* Só funciona após declarar o display:flex */
    gap: 12px; /* Só funciona após declarar o display:flex */

    
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
}

button div {
    color: #09090A;
}

#form-habits {
    display: flex;
    padding: 162px 48px 48px;
    width: fit-content;
}

.habits {
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    gap: 24px; 
}

.habit { 
    color: #A1A1AA;
    width: 64px;
    height: 64px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;

}

.hour {
    display: flex;
    padding: 10px 10px 0px 0px;
    font-size: 25px;
    font-family: 'Roboto Mono';
    line-height: 125%;
    color: #09090A;
}

.days {
    display: flex;
    gap: 48px;
    margin-left: 32px;
    
}

.day {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}

.day div {
    margin-bottom: 8px;

    font-family: 'Roboto Mono';
    font-size: 20px;
    line-height: 125%;

    color: #09090A;
    text-align: center;
}

input {

    appearance: none;
    -webkit-appearance: none; /* prefixo para reforçar o appeareance: none para navegadores diferentes */

    width: 64px;
    height: 64px;
    border: 2px solid #666666;
    border-radius: 8px;
    background-color: #a2a2a2;
}

/* Pseudo-selector*/
input:checked {
    background: #8B5CF6;
    border:2px solid #A78BFA;
}

@media (max-width: 1220px) {
    header {
    padding: 58px 20vw 0px 8vw;
    }
}

@media (max-width: 1050px) {
    button {
         padding: 16px 4px;
    }
}

@media (max-width: 956px) {
    button div {
        display: none;
    }

    button {
        padding: 15px;
    }
}

@media (max-width: 750px) {
    .toggle {
        margin-right: 25px;
    }

}

@media (max-width: 366px) {
    button {
        padding: 10px;
        margin: 10px 0px 0px 30px;
    }
}